@charset "UTF-8";

* {
    margin: 0%;
}

#fundo {
    height: 100vh;
    background: black url('../imagens/espaco.jpg') no-repeat fixed center center;
    background-size: cover;
}

#conteudo {
    background: url('../imagens/astronauta.png') no-repeat center center;
    background-size: contain;

    position: absolute;
    height: 600px;
    width: 600px;
    max-width: 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}